/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.website-container {
  font-family: "Barlow", sans-serif;
}

.header {
  min-height: 33.625rem;
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 2rem 1.5rem;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__logo {
  width: 7.6875rem;
  height: 1.5rem;
}

.nav-bar__nav {
  display: none;
}

.nav-bar__nav.active {
  display: block;
  position: absolute;
  left: 1.375rem;
  right: 1.375rem;
  top: 5.35rem;
  min-height: 20.5625rem;
  background-color: white;
  text-align: center;
  padding: 2.8125rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar__nav.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #fff transparent;
  top: -20px;
  right: 0;
}

.nav-bar__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: #808397;
  line-height: 1.5625rem;
  letter-spacing: -0.14px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-bar__link:hover {
  color: #24303e;
}

.nav-bar__link--active {
  font-family: "Fraunces", serif;
  background-color: #fad400;
  color: #24303e;
  padding: 1rem 2rem;
  border-radius: 1.75rem;
}

.nav-bar__link--active:hover {
  background-color: #90d4c6;
  color: white;
}

.nav-bar__hamburger {
  max-height: 1.125rem;
}

.header__title {
  font-family: "Fraunces", serif;
  color: white;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 3.0825rem;
  margin: 5.5rem 0 3.25rem;
  text-align: center;
  letter-spacing: 0.390625rem;
}

.header__arrow {
  display: block;
  margin: 0 auto;
  max-height: 6.7175rem;
  max-width: 1.875rem;
}

@media (min-width: 1024px) {
  .header {
    min-height: 50rem;
    background-image: url("../images/desktop/image-header.jpg");
    padding-top: 3rem;
  }
  .nav-bar__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-bar__link {
    margin-left: 2.9375rem;
    color: white;
  }
  .nav-bar__hamburger {
    display: none;
  }
  .nav-bar__link--active {
    background-color: white;
    color: #24303e;
  }
  .nav-bar__link--active:hover {
    text-decoration: none;
    color: white;
    background-color: #90d4c6;
  }
  .header__title {
    margin: 6.5625rem 0 6rem;
  }
}

.about-box__img {
  min-height: 19.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.about-box__img--transform {
  background-image: url("../images/mobile/image-transform.jpg");
}

.about-box__img--stand-out {
  background-image: url("../images/mobile/image-stand-out.jpg");
}

.about-box__text-box {
  padding: 4rem 1.5rem;
  text-align: center;
}

.about-box__title {
  font-weight: 900;
  font-size: 2rem;
  font-family: "Fraunces", serif;
  margin-bottom: 1.5rem;
  letter-spacing: -0.23px;
  line-height: 2.46625rem;
}

.about-box-text {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.875rem;
  color: #808397;
  margin-bottom: 2rem;
  letter-spacing: -0.13px;
}

.about-box__link {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: #24303e;
  text-decoration: none;
  font-weight: 900;
  letter-spacing: 1px;
  position: relative;
}

.about-box__link--yellow::after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: #fad400;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  border-radius: 1.75rem;
}

.about-box__link--pink::after {
  content: "";
  width: 100%;
  height: 10px;
  background-color: #fe7867;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
  border-radius: 1.75rem;
}

@media (min-width: 768px) {
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about-box__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0 1.5rem;
  }
  .about-box__text-box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: left;
  }
  .about-box__img--transform {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (min-width: 1024px) {
  .about-box__text-box {
    padding: 9.875rem 10.3125rem;
  }
  .about-box__title {
    font-size: 2.5rem;
    line-height: 3.0625rem;
  }
  .about-box__img {
    padding: 10.3125rem;
  }
  .about-box__img--transform {
    background-image: url(../images/desktop/image-transform.jpg);
  }
  .about-box__img--stand-out {
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
}

.services__box {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 28.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 3.6875rem 1.5rem;
}

.services__box--box-1 {
  background-image: url(../images/mobile/image-graphic-design.jpg);
  color: #25564b;
}

.services__box--box-2 {
  background-image: url(../images/mobile/image-photography.jpg);
  color: rgba(35, 48, 62, 0.75);
}

.services__title {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.75rem;
  text-transform: capitalize;
  margin-bottom: 1.6875rem;
  letter-spacing: -0.2px;
}

.services__text {
  font-weight: 600;
  line-height: 1.6875rem;
  letter-spacing: -0.11px;
}

@media (min-width: 768px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .services__box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-height: 48rem;
  }
}

@media (min-width: 1024px) {
  .services__box {
    min-height: 37.5rem;
    padding: 3.6875rem 11.9375rem;
  }
  .services__box--box-1 {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .services__box--box-2 {
    background-image: url("../images/desktop/image-photography.jpg");
  }
}

.testimonials {
  padding: 4rem 1.5rem;
  text-align: center;
}

.testimonials__card {
  margin-bottom: 4rem;
}

.testimonials__title {
  color: #a7abae;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  margin-bottom: 4rem;
}

.card__img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.card__quote {
  font-weight: 600;
  font-size: 1.125rem;
  color: #5a636c;
  margin-bottom: 2rem;
  line-height: 2rem;
}

.card__author {
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 0.5625rem;
}

.card__author-profession {
  color: #808397;
  font-size: 0.875rem;
  letter-spacing: -0.1px;
}

@media (min-width: 768px) {
  .testimonials__card {
    padding: 0 10rem;
  }
}

@media (min-width: 1024px) {
  .testimonials {
    padding: 10rem 10.3125rem;
  }
  .testimonials__title {
    margin-bottom: 5.0625rem;
  }
  .testimonials__cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .testimonials__cards-container .testimonials__card {
    padding: 0;
    -ms-flex-preferred-size: 21.875rem;
        flex-basis: 21.875rem;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects__box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 11.75rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.projects__box--box-1 {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}

.projects__box--box-2 {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}

.projects__box--box-3 {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}

.projects__box--box-4 {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}

@media (min-width: 768px) {
  .projects {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .projects__box {
    min-height: 27.9375rem;
  }
  .projects__box--box-1 {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  }
  .projects__box--box-2 {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
  }
  .projects__box--box-3 {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
  }
  .projects__box--box-4 {
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }
}

.footer {
  padding: 4rem 2.4375rem 5rem;
  background-color: #90d4c6;
}

.footer__img {
  -webkit-filter: invert(60%) sepia(45%) saturate(280%) hue-rotate(118deg) brightness(90%) contrast(93%);
          filter: invert(60%) sepia(45%) saturate(280%) hue-rotate(118deg) brightness(90%) contrast(93%);
  display: block;
  margin: 0 auto 2.5rem;
  width: 10.625rem;
  height: 2.0625rem;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5.5rem;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: #458c7e;
  font-weight: 600;
  font-size: 1.125rem;
  letter-spacing: -0.13px;
}

.footer__link:hover {
  color: white;
}

.footer__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 10.25rem;
  margin: 0 auto;
}

.footer__link-social:hover {
  -webkit-filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(184deg) brightness(310%) contrast(104%);
          filter: invert(90%) sepia(0%) saturate(0%) hue-rotate(184deg) brightness(310%) contrast(104%);
}

.attribution {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 1rem;
  color: #5a636c;
  line-height: 1.5rem;
  text-align: center;
  background-color: #90d4c6;
  font-family: "Barlow", sans-serif;
}

.attribution a {
  font-family: "Fraunces", serif;
  color: #fe7867;
  text-decoration: none;
}

.attribution a:hover {
  color: #24303e;
}

@media (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav {
    min-width: 18.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__link-social {
    margin-right: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .website-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */