$clrRed: #fe7867;
$clrYellow: hsl(51, 100%, 49%);
$clrGray: #808397;
$clrBlack: #24303e;
$clrCyan: #90d4c6;

$clr-Dark-desaturated-cyan: #25564b;
$clr-Dark-blue: #19536b;
$clr-Dark-moderate-cyan: #458c7e;

// Neutral

$clrVeryDarkDesaturatedBlue: rgba(35, 48, 62, 0.75);
$clr-Very-dark-grayish-blue: #5a636c;
$clr-Dark-grayish-blue: #818498;
$clr-Grayish-blue: #a7abae;
$clr-White: hsl(0, 0%, 100%);
