.header {
  min-height: 33.625rem;
  background-image: url("../images/mobile/image-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 2rem 1.5rem;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.nav-bar__logo {
  width: 7.6875rem;
  height: 1.5rem;
}
.nav-bar__nav {
  display: none;
}
.nav-bar__nav.active {
  display: block;
  position: absolute;
  left: 1.375rem;
  right: 1.375rem;
  top: 5.35rem;
  min-height: 20.5625rem;
  background-color: $clr-White;
  text-align: center;
  padding: 2.8125rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-bar__nav.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 20px 20px;
  border-color: transparent transparent #fff transparent;
  top: -20px;
  right: 0;
}
.nav-bar__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: $clrGray;
  line-height: 1.5625rem;
  letter-spacing: -0.14px;
  transition: 0.2s;
  &:hover {
    color: $clrBlack;
  }
}
.nav-bar__link--active {
  font-family: $fontDecorative;
  background-color: $clrYellow;
  color: $clrBlack;
  padding: 1rem 2rem;
  border-radius: 1.75rem;
  &:hover {
    background-color: $clrCyan;
    color: $clr-White;
  }
}
.nav-bar__hamburger {
  height: 1.125rem;
  width: 1.5rem;
}
.header__title {
  font-family: $fontDecorative;
  color: $clr-White;
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 3.0825rem;
  margin: 5.5rem 0 3.25rem;
  text-align: center;
  letter-spacing: 0.390625rem;
}
.header__arrow {
  display: block;
  margin: 0 auto;
  max-height: 6.7175rem;
  max-width: 1.875rem;
}
@media (min-width: 1024px) {
  .header {
    min-height: 50rem;
    background-image: url("../images/desktop/image-header.jpg");
    padding-top: 3rem;
  }
  .nav-bar__nav {
    display: flex;
  }
  .nav-bar__link {
    margin-left: 2.9375rem;
    color: $clr-White;
  }
  .nav-bar__hamburger {
    display: none;
  }
  .nav-bar__link--active {
    background-color: $clr-White;
    color: $clrBlack;
    &:hover {
      text-decoration: none;
      color: $clr-White;
      background-color: $clrCyan;
    }
  }
  .header__title {
    margin: 6.5625rem 0 6rem;
  }
}
