.projects {
  display: flex;
  flex-wrap: wrap;
}
.projects__box {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 11.75rem;
  flex-basis: 50%;
}
.projects__box--box-1 {
  background-image: url("../images/mobile/image-gallery-milkbottles.jpg");
}
.projects__box--box-2 {
  background-image: url("../images/mobile/image-gallery-orange.jpg");
}
.projects__box--box-3 {
  background-image: url("../images/mobile/image-gallery-cone.jpg");
}
.projects__box--box-4 {
  background-image: url("../images/mobile/image-gallery-sugar-cubes.jpg");
}
@media (min-width: 768px) {
  .projects {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px) {
  .projects__box {
    min-height: 27.9375rem;
  }
  .projects__box--box-1 {
    background-image: url("../images/desktop/image-gallery-milkbottles.jpg");
  }
  .projects__box--box-2 {
    background-image: url("../images/desktop/image-gallery-orange.jpg");
  }
  .projects__box--box-3 {
    background-image: url("../images/desktop/image-gallery-cone.jpg");
  }
  .projects__box--box-4 {
    background-image: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }
}
