.testimonials {
  padding: 4rem 1.5rem;
  text-align: center;
}
.testimonials__card {
  margin-bottom: 4rem;
}
.testimonials__title {
  color: $clr-Grayish-blue;
  font-family: $fontDecorative;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 900;
  margin-bottom: 4rem;
}
.card__img {
  max-width: 4.5rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}
.card__quote {
  font-weight: 600;
  font-size: 1.125rem;
  color: $clr-Very-dark-grayish-blue;
  margin-bottom: 2rem;
  line-height: 2rem;
}
.card__author {
  font-family: $fontDecorative;
  font-weight: 900;
  margin-bottom: 0.5625rem;
}
.card__author-profession {
  color: $clrGray;
  font-size: 0.875rem;
  letter-spacing: -0.1px;
}

@media (min-width: 768px) {
  .testimonials__card {
    padding: 0 10rem;
  }
}
@media (min-width: 1024px) {
  .testimonials {
    padding: 10rem 10.3125rem;
  }
  .testimonials__title {
    margin-bottom: 5.0625rem;
  }
  .testimonials__cards-container {
    display: flex;
    justify-content: space-between;
    .testimonials__card {
      padding: 0;
      flex-basis: 21.875rem;
    }
  }
}
